@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-body">
    <div class="container">
        <div class="page-header">
            <h2 class="page-title" data-i18n="registration.resetPassword"></h2>
        </div>
        <div class="page-wrapper">
            <form role="form">
                <div class="row">
                    <div class="col-xs-8">
                        <table style="margin: 2em 0" class="table table-no-bordered ky-table">
                            <tr>
                                <td data-i18n="common.securityQuestion"></td>
                                <td>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <select id="securityQuestionId" class="form-control">
                                                    <option value="a59635c7-523d-4c74-b456-483eeb458b6d" data-i18n="registration.whatWasChildHoodNickname"></option>
                                                    <option value="ff621262-172b-40b7-831b-56dffe66af0b" data-i18n="registration.whatIsSisterInLawName"></option>
                                                    <option value="b355b02c-4de4-4981-9a09-5de74bfc5765" data-i18n="registration.whatIsMothersMaidenName"></option>
                                                    <option value="3be83483-8345-44bf-a0d6-7bebd61daf8d" data-i18n="registration.whatIsFirstCarColor"></option>
                                                    <option value="96569808-4744-4bf2-952c-86b1a634bb67" data-i18n="registration.whatIsYourFirstPet"></option>
                                                    <option value="46eb056d-72ae-4b89-bccb-f4ddf893c535" data-i18n="registration.whatIsFirstStreetName"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-i18n="registration.answerYourSecurityQuestion"></td>
                                <td>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-i18n="registration.createNewPassword"></td>
                                <td>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-i18n="registration.retypeNewPassword"></td>
                                <td>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div>
                                        <div class="row has-btn-block">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary btn-block" data-i18n="registration.resetPassword"></button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts
{
    <script src="/Scripts/custom/login.js"></script>
}