<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="Default"
            connectionString="Server=regov2db.flycowdev.com; Database=RegoV2-dev; Persist Security Info=True; integrated security=false; user id=sa; password=ch6kaCru"
            providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <appSettings>
        <add key="MemberWebsiteUrl" value="http://dev-regov2-member-website.flycowdev.com/" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
        <add key="AdminWebsiteUrl" value="http://dev-selenium-regov2-admin-website.flycowdev.com/" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
        <add key="MockGameWebsite" value="http://dev-regov2-game-website.flycowdev.com/"  xdt:Locator="Match(key)" xdt:Transform="Replace"/>
        <add key="rmq.vhost" value="develop"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="ScreenshotsPath" value="C:\Projects\screenshots\develop-unit" />
    </appSettings>
</configuration>