<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MemberWebsiteUrl" value="http://localhost:51829/"/>
    <add key="AdminWebsiteUrl" value="http://localhost:2823/"/>
    <add key="MockGameWebsite" value="http://localhost:50215/" />
    <add key="rmq.vhost" value="debug"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ServiceHostUrl" value="http://localhost:10477/" />
    <add key="ScreenshotsPath" value="C:\Projects\screenshots\debug" />
  </appSettings>
</configuration>