<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="Default"
            connectionString="Server=localhost; Database=RegoV2-simple; Persist Security Info=True; integrated security=false; user id=sa; password=ch6kaCru"
            providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <appSettings>
        <add key="WinServiceUrl" value="http://localhost:3345" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="WinServiceName" value="AFT.RegoV2.WinService" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="rmq.vhost" value="simple"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
        <add key="MockGameWebsite" value="http://simple-regov2-game-website.flycowdev.com/"  xdt:Locator="Match(key)" xdt:Transform="Replace"/>
        <add key="ProductionMode" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <log4net debug="false">
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="C:\RegoV2Data\Logs\WinService\log.txt" xdt:Transform="Replace" />
        </appender>
    </log4net>
</configuration>